name: Check Extensibility

on:
  # pull_request_target:
  #   paths:
  #     - 'environments/dev/**'
  #     - 'extensions/**'
  pull_request:
    types: [opened, edited, synchronize, reopened, ready_for_review]
    paths:
      - 'environments/dev/**'
      - 'extensions/**'

jobs:
  check-extensibility:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Prepare extensions
        run: npm run prepare-extensibility-dev && git diff --name-only environments/dev extensions

      - name: Check for changes in extensibility
        id: check-changes
        run: |
          chmod +x ./.github/scripts/check-extensibility.sh
          OUTPUT=$GITHUB_OUTPUT ./.github/scripts/check-extensibility.sh

      - name: Fail if there are changes in extensibility
        if: steps.check-changes.outputs.CHANGED_dev == 'true' || steps.check-changes.outputs.CHANGED_stage == 'true' || steps.check-changes.outputs.CHANGED_prod == 'true'
        run: exit 1
        
      - name: Comment on PR dev
        uses: actions/github-script@v6
        if: steps.check-changes.outputs.CHANGED_dev == 'true'
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Detected changes in extensibility for dev environment. Please run the following command: `prepare-extensibility-dev`'
            })

      - name: Comment on PR stage
        uses: actions/github-script@v6
        if: steps.check-changes.outputs.CHANGED_stage == 'true'
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Detected changes in extensibility for stage environment. Please run the following command: `prepare-extensibility-stage`'
            })

      - name: Comment on PR prod
        uses: actions/github-script@v6
        if: steps.check-changes.outputs.CHANGED_prod == 'true'
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: 'Detected changes in extensibility for prod environment. Please run the following command: `prepare-extensibility-prod`'
            })