name: Check Extensibility

on:
  pull_request:
    paths:
      - 'environments/dev/**'
      - 'environments/stage/**'
      - 'environments/prod/**'
      - 'extensions/**'

jobs:
  check-extensibility:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm ci

      - name: Prepare extensions
        run: |
          npm run prepare-extensibility-dev
          npm run prepare-extensibility-stage
          npm run prepare-extensibility-prod
          git diff --name-only environments/dev extensions

      - name: Check for changes in extensibility
        id: check-changes
        run: |
          chmod +x ./.github/scripts/check-extensibility.sh
          OUTPUT=$GITHUB_OUTPUT ./.github/scripts/check-extensibility.sh
        
      - name: Extensibility changes detected
        if: steps.check-changes.outputs.CHANGED_dev == 'true' || steps.check-changes.outputs.CHANGED_stage == 'true' || steps.check-changes.outputs.CHANGED_prod == 'true'
        run: |
          if [ ${{ steps.check-changes.outputs.CHANGED_dev }} == 'true' ]; then
            echo "Detected changes in extensibility for dev environment. Please run the following command: prepare-extensibility-dev"
          fi
          if [ ${{ steps.check-changes.outputs.CHANGED_stage }} == 'true' ]; then
            echo "Detected changes in extensibility for stage environment. Please run the following command: prepare-extensibility-stage"
          fi
          if [ ${{ steps.check-changes.outputs.CHANGED_prod }} == 'true' ]; then
            echo "Detected changes in extensibility for prod environment. Please run the following command: prepare-extensibility-prod"
          fi
          exit 1
