config:
  storage: localStorage
  features:
    PROTECTED_RESOURCES:
      isEnabled: true
      config:
        resources:
          - match:
              $.metadata.labels['serverless.kyma-project.io/managed-by']: function-controller
            message: 'Resource managed by: function-controller'
          - match:
              $.metadata.labels['reconciler.kyma-project.io/managed-by']: reconciler
            messageSrc: >-
              $.metadata.annotations['reconciler.kyma-project.io/managed-by-reconciler-disclaimer']
          - match:
              $.metadata.labels['istio.io/rev']: default
            message: Resource managed by Istio control plane
          - match:
              $.metadata.labels['applicationconnector.kyma-project.io/managed-by']: compass-runtime-agent
    LEGAL_LINKS:
      config:
        legal-disclosure:
          default: https://www.sap.com/corporate/en/legal/impressum.html
          de: https://www.sap.com/corporate/de/legal/impressum.html
        privacy:
          default: >-
            https://help.sap.com/viewer/82bdf2271c6041f79387c122147cf774/Cloud/en-US
        copyright:
          default: https://www.sap.com/corporate/en/legal/copyright.html
          de: https://www.sap.com/corporate/de/legal/copyright.html
        trademark:
          default: https://www.sap.com/corporate/en/legal/trademark.html
          de: https://www.sap.com/corporate/de/legal/trademark.html
    SSO_LOGIN:
      isEnabled: false
      config:
        issuerUrl: https://kymatest.accounts400.ondemand.com
        scope: openid
        clientId: 9bd05ed7-a930-44e6-8c79-e6defeb7dec9
    KUBECONFIG_ID:
      isEnabled: true
      config:
        kubeconfigUrl: https://kyma-env-broker.cp.dev.kyma.cloud.sap/kubeconfig
    SENTRY:
      isEnabled: true
      selectors: []
      config:
        dsn: >-
          https://016845744e4741cc9bea0caaabc0fe87@o399001.ingest.sentry.io/5953495
    SHOW_KYMA_VERSION:
      isEnabled: true
    SHOW_GARDENER_METADATA:
      isEnabled: true
    SERVICE_CATALOG_READ_ONLY:
      isReadOnly: false
    SERVICE_CATALOG:
      isEnabled: false
    SERVICE_CATALOG_ADDONS:
      isEnabled: false
    ADDONS:
      isEnabled: false
    OBSERVABILITY:
      isEnabled: true
      config:
        links:
          - label: Grafana
            path: >-
              apis/networking.istio.io/v1beta1/namespaces/kyma-system/virtualservices/monitoring-grafana
          - label: Kiali
            path: >-
              apis/networking.istio.io/v1beta1/namespaces/kyma-system/virtualservices/kiali
          - label: Tracing
            path: >-
              apis/networking.istio.io/v1beta1/namespaces/kyma-system/virtualservices/tracing
    EXTERNAL_NODES:
      isEnabled: true
      stage: SECONDARY
      nodes:
        - category: My Category
          icon: course-book
          children:
            - label: Example Node Label
              link: https://github.com/kyma-project/busola
    JWT_CHECK_CONFIG:
      isEnabled: false
      config:
        issuer: https://kymatest.accounts400.ondemand.com
        jwksUri: https://kymatest.accounts400.ondemand.com/oauth2/certs
    GZIP:
      isEnabled: true
    EXTENSIBILITY:
      isEnabled: true
    TRACKING:
      isEnabled: false
    EVENTING:
      isEnabled: true
      selectors:
        - type: apiGroup
          apiGroup: eventing.kyma-project.io
    API_GATEWAY:
      isEnabled: true
      selectors:
        - type: apiGroup
          apiGroup: gateway.kyma-project.io
    GARDENER_LOGIN:
      isEnabled: true
      kubeconfig:
        kind: Config
        apiVersion: v1
        clusters:
          - name: garden-hasselhoff
            cluster:
              server: 'https://api.dev.gardener.cloud.sap'
        contexts:
          - context:
              cluster: garden-hasselhoff
              user: oidc-login
              namespace: garden-hasselhoff
            name: garden-hasselhoff
        current-context: garden-hasselhoff
        users:
          - name: oidc-login
            user:
              exec:
                apiVersion: client.authentication.k8s.io/v1beta1
                command: kubectl
                args:
                  - oidc-login
                  - get-token
                  - '--oidc-issuer-url=https://gardener-live.accounts.ondemand.com'
                  - '--oidc-client-id=d6feea7d-2414-41e3-8462-44c496e10b61'
                  - '--oidc-use-pkce'
                  - '--grant-type=auto'
